@model Adventure_Game.Models.ScreenItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ScreenItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakenDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakenDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Action)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Action)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ScreenItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
